@model List<E_Commerce_Outdoorways.Entities.Product>


@{
    ViewData["Title"] = "Winter Collection";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="text-center mb-4">
                <img src="~/logo.png" height="60" alt="Alternate Text" />
            </div>
            <h1 class="fw-light">Shop Winter Collection</h1>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="/images/products/@item.ProductIMG"
                             class="bd-placeholder-img card-img-top"
                             style="height: 250px; width: 100%; object-fit: cover;" />

                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="fw-bold">$@item.Price</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/Details/Details/@item.ProductId" class="btn btn-primary mt-2">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>